/*BARRA DE ROLAGEM*/
body::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
body::-webkit-scrollbar {
    width: 0;
    background: #F4F4F4;
}
body::-webkit-scrollbar-thumb {
    background: #dad7d7;
}
.informacoes1::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
.informacoes1::-webkit-scrollbar {
    height: 2px;
    background: #F4F4F4;
}
.informacoes1::-webkit-scrollbar-thumb {
    background: #dad7d7;
}
.informacoes2::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
.informacoes2::-webkit-scrollbar {
    height: 2px;
    background: #F4F4F4;
}
.informacoes2::-webkit-scrollbar-thumb {
    background: #dad7d7;
}
.descricao-tarefa::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
.descricao-tarefa::-webkit-scrollbar {
    width: 6px;
    background: #F4F4F4;
}
.descricao-tarefa::-webkit-scrollbar-thumb {
    background: #dad7d7;
}
.status::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
.status::-webkit-scrollbar {
    width: 6px;
    background: #F4F4F4;
}
.status::-webkit-scrollbar-thumb {
    background: #dad7d7;
}

.quadro-child::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
.quadro-child::-webkit-scrollbar {
    width: 6px;
    background: #F4F4F4;
}
.quadro-child::-webkit-scrollbar-thumb {
    background: #dad7d7;
}
.mDescricao::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
.mDescricao::-webkit-scrollbar {
    width: 6px;
    background: #F4F4F4;
}
.mDescricao::-webkit-scrollbar-thumb {
    background: #dad7d7;
}

#tarefas > div.quadro > div:nth-child(1)::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}
#tarefas > div.quadro > div:nth-child(1)::-webkit-scrollbar {
  width: 3px;
  background-color: rgba(0, 0, 0, 0);
}
#tarefas > div.quadro > div:nth-child(1)::-webkit-scrollbar-thumb {
  background: #fff;
}
#tarefas > div.quadro > div:nth-child(2)::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}
#tarefas > div.quadro > div:nth-child(2)::-webkit-scrollbar {
  width: 3px;
  background-color: rgba(0, 0, 0, 0);
}
#tarefas > div.quadro > div:nth-child(2)::-webkit-scrollbar-thumb {
  background: #fff;
}
#tarefas > div.quadro > div:nth-child(3)::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}
#tarefas > div.quadro > div:nth-child(3)::-webkit-scrollbar {
  width: 3px;
  background-color: rgba(0, 0, 0, 0);
}
#tarefas > div.quadro > div:nth-child(3)::-webkit-scrollbar-thumb {
  background: #fff;
}
/* Listar tarefa */
.dataTables_scrollBody::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
.dataTables_scrollBody::-webkit-scrollbar {
    width: 0;
    background: #F4F4F4;
}
.dataTables_scrollBody::-webkit-scrollbar-thumb {
    background: #dad7d7;
}
/* Listar tarefa */
/* Retrospectiva */
.tarefas::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
.tarefas::-webkit-scrollbar {
    width: 0;
    background: #F4F4F4;
}
.tarefas::-webkit-scrollbar-thumb {
    background: #dad7d7;
}
/* Retrospectiva */
/*BARRA DE ROLAGEM*/
