.conteudo {
	max-width: 100%;
	width: 100%;
	max-height: 86vh;
	height: 86vh;
}

#tabela{
	text-align:left;
	max-width: 100%;
	width: 100%;
	max-height: 95vh;
}

#tabela tbody tr{
	width: 100%;
	border:solid 1px;
	height:10px;
	cursor:pointer;
}

table, td, th {
    border: solid 1px;
    border-collapse: collapse;
}

#tabela tbody {
    overflow-y: auto;
	width: 100%;
	background: white;
}

#tabela body{
	font-family:Verdana;
}

.filtros {
		margin-bottom: 20px;
		background: #fff;
		border: none;
	  border-radius: 0;
		margin-bottom: 40px;
		box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.datas {
		max-width: 400px;
		margin: 5px;
		padding: 5px;
		float: left;
}

.custom-control-label{
		margin: 5px;
}

.form-check {
	margin: 6px;
	float: left;
}

#form > div > div:nth-child(2) {
	margin-left: 8px;
}

.form-check-label {
	margin-left: -5px;
}

.filtros-superior {
	display: inline-table;
}

.filtros-inferiores {
	display: flex;
}

.centrocusto-filtro {
	width: auto;
	margin: 8px;
	float: left;
}

.departamento-filtro {
	width: auto;
	margin: 8px;

}

.pessoas-filtro {
	width: auto;
	margin: 8px;
}

input.input-sm.form-control {
	height: 35px;
	width: 101.7px;
}

span.input-group-addon {
	background-color: lightgray;
	color: black;
}

input.btn.btn-primary{
	margin: 8px;
}

#form > div > input {
	background-color: white;
	border-color: white;
	color: black;
	float: right;
	width: 94%;
    margin: 8px;
}

#datepicker > input:nth-child(1), #datepicker > input:nth-child(3) {
	font-size: small;
}
