
#tabela{
	border:solid 1px;
	text-align:left;
  	border-collapse:collapse;
	max-width: 100%;
	overflow: scroll;
	max-height: 95vh;
}

#tabela tbody tr{
	border:solid 1px;
	height:10px;
	cursor:pointer;
}

#tabela thead{
	background:beige;
	width: 100%;
}

#tabela thead th:nth-child(1){
	width:100px;
}

#tabela input{
	color:navy;
	width:100%;
}

table, td, th {
    border: solid 1px;
    border-collapse: collapse;
}

#tabela tbody {
    overflow-y: auto;
		width: 100%;
		background: white;
}

#tabela body{
	font-family:Verdana;
}

.filtros {
		margin-bottom: 20px;
		background: #fff;
		border: none;
	  	border-radius: 0;
		margin-bottom: 40px;
		box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.custom-control-label{
		margin: 5px;
}

.form-check {
	margin: 6px;
	float: left;
}

.form-check-label {
	margin-left: -5px;
}

.filtros-superior {
	display: inline-table;
}

.filtros-inferiores {
	display: flex;
}

input.input-sm.form-control {
	height: 35px;
	width: 101.7px;
}

span.input-group-addon {
	background-color: lightgray;
	color: black;
}

input.btn.btn-primary{
	margin: 8px;
}

#form > div > input {
	background-color: white;
	border-color: white;
	color: black;
	float: right;
}

.chart {
  width: 100%;
  min-height: 450px;
}
.row {
  margin:0 !important;
}

.container{
	max-width: 1920px;
}

.lateral-direita-superior {
  	float: right;
  	max-width: 49.5%;
	width: 49.5%;
  	max-height: 59vh;
	height: 59vh;
	background-color: rgba(255,255,255, 0.9)!important;
	border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;

}

.lateral-direita-inferior {
	float: right;
	max-width: 49.5%;
	width: 49.5%;
	max-height: 30vh;
	height: 30vh;
	margin-top: 1vh;
	background-color: rgba(255,255,255, 0.9)!important;
	border: 1px solid rgba(0,0,0,.125);
	border-radius: .25rem;
	text-align: center;

}

.lateral-esquerda-superior {
	float: left;
	max-width: 49.5%;
	width: 49.5%;
	max-height: 35vh;
  	height: 35vh;
	background-color: rgba(255,255,255, 0.9)!important;
	border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.lateral-esquerda-inferior-1 {
	float: left;
	max-width: 24.25%;
  	width: 24.25%;
	max-height: 23vh;
	height: 23vh;
	margin-top: 1vh;
	margin-right: 1%;
	background-color: rgba(255,255,255, 0.9)!important;
	border: 1px solid rgba(0,0,0,.125);
	border-radius: .25rem;
	text-align: center;
}

.lateral-esquerda-inferior-2 {
	float: left;
	max-width: 24.25%;
  	width: 24.25%;
	max-height: 23vh;
	height: 23vh;
	margin-top: 1vh;
	background-color: rgba(255,255,255, 0.9)!important;
	border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.lateral-esquerda-inferior-3 {
	float: left;
	max-width: 49.5%;
	width: 49.5%;
	max-height: 30vh;
	height: 30vh;
	margin-top: 1vh;
	background-color: rgba(255,255,255, 0.9)!important;
	border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.informativos {
	width: 90%;
	height: 50px;
	background-color: white;
	margin: 10px;
	text-align: center;
	font-weight: bold;
	font-size: large;
	color: #02003e;
	padding: 2px;
}

.informacoesAtraso {
	margin: 10px 10px 0 10px!important;
}

.informacoes {
	margin: 0 10px 0 10px!important;
}

.informativos > img {
	width: 45px;
	float: left;
}

.informativos > div > p:nth-child(1){
	font-weight: bold;
	color: #446fc7;
	margin-bottom: -10px;
}

.informativos > div > p:nth-child(2) {
	color: #446fc7;
	font-size: initial;
}

#form > input {
	width: 90%;
    margin: 10px;
}

.preview-textfield {
	margin-top: -8px;
}

/* ------------- */
/* | DASHBOARD | */
/* ------------- */

.opcoesGraficos {
	margin: 0 0 0 15px;
}

#velocimetro{
	height: 150px!important;
}

@media (max-width: 1368px){
	#velocimetro{
		height: 100px!important;
	}

	.lateral-direita {
		max-height: 86.5vh!important;
	  	height: 86.5vh!important;
  
  	}

	.lateral-esquerda-inferior-1 {
		max-height: 42vh;
		height: 42vh;
	}
	
	.lateral-esquerda-inferior-2 {
		max-height: 42vh;
		height: 42vh;
	}
}
/* ------------- */
/* | DASHBOARD | */
/* ------------- */

.vertical {
    transform: rotate(270deg);
    margin-bottom: 120px;
    margin-top: 190px;
    font-size: 4rem;
    align-items: center;
    text-align: center;
}

#content {
    background-color: #d9d9d9;
}
.datas {
    display: block !important;
}