  /* CSS dos filtros */

  body > div {
    height: 100vh;
    overflow: hidden;
}

.loader{
  position: absolute;
  width: 100vh;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.8)!important;
}

#fluxos > div.quadro > div:nth-child(1) {
    background: rgba(0, 0, 0, 0);
    height: 87vh;
    overflow: auto;
}

#fluxos > div.quadro > div:nth-child(2) {
    background: rgba(0, 0, 0, 0);
    height: 87vh;
    overflow: auto;
}

#fluxos > div.quadro > div:nth-child(3) {
    background: rgba(0, 0, 0, 0);
    height: 87vh;
    overflow: auto;
}

#fluxos > div.quadro > div:nth-child(4) {
  background: rgba(0, 0, 0, 0);
  height: 87vh;
  overflow: auto;
}

#fluxos > div.quadro > div:nth-child(5) {
  background: rgba(0, 0, 0, 0);
  height: 87vh;
  overflow: auto;
}

#fluxos > div.quadro > div:nth-child(6) {
  background: rgba(0, 0, 0, 0);
  height: 87vh;
  overflow: auto;
}

#fluxos > div.quadro > div:nth-child(7) {
  background: rgba(0, 0, 0, 0);
  height: 87vh;
  overflow: auto;
}

 #kanbam {
    height: 94vh;
    overflow: hidden;
    margin-top: 10px;
    margin-right: 10px;
}

nav#fluxos {
    position: relative;
    display: block;
    text-align: center;
    width: 100%;
    height: 100%;
    overflow-x: auto!important;
    overflow-y: hidden!important;
    height: 92vh;
    width: 87vw;
}

/*QUADRO DE TÍTULOS*/
.titulos {
    display: flex;
    justify-content: flex-start;
    width: 100%;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
}

.titulos .titulo-child{
    flex: 1;
    margin: 0 10px 0 10px;
    height: 100%;
    min-width: 45vh;
    background-color: #f5f9f9;
    border-radius: 3px;
    box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.25);
}
/*QUADRO DE TÍTULOS*/
/*QUADRO Fluxo*/
.quadro ul{
    padding: 0;
}

.quadro{
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.quadro .quadro-child{
    flex: 1;
    margin: 0 10px 5px 10px;
    height: 100%;
    min-width: 45vh;
    background-color: #f5f9f9;
    border-radius: 3px;
    box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.25);
    font-size: 9pt;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
}

.progress {
    height: 13px;
}

.progress-bar{
    height: 13px;
}

.porcentagem{
    color: green;
}

ul {
  list-style: none;
  padding: 0;
}

#c-fazendo{
    margin-left: auto;
    margin-right: auto;
}

.item {
  scroll-snap-align: center;
  padding: calc(var(--gutter) / 2 * 1.5);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  background: rgba(0,0,0,0);
  box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.25);
  border-radius: 8px;
  min-height: 530px;
  min-width: 30px;
}

.no-scrollbar {
  scrollbar-width: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.t-grupo {
  background: inherit;
  width: 100%;
  text-align: center;
  font-size: 23px;
}

.card-body {
  padding: 10px !important;
}

.aviso {
  box-shadow: 0px 0px 4px 4px yellow !important;
}

.atrasada {
  box-shadow: 0px 0px 4px 4px red !important;
}

.adiantada {
  box-shadow: 0px 0px 4px 4px #03F40F !important;
}

.garantia{
  box-shadow: 0px 0px 4px 4px #B0C4DE !important;
}

.finalizada {
  box-shadow: 0px 0px 4px 4px #606060 !important;
}

.tarefa{
  box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.25);
  background-color: rgb(255,255,255);
    width: 95%;
    margin: 0 auto 0 auto;
}

.editar {
  width: 20px;
  height: auto;
  margin-bottom: 4px;
  margin-top: 0px;
}

.expandir {
  width: 20px;
  height: auto;
  margin-bottom: 0px;
  margin-top: 0px;
}

.anexo_ver {
  width: 30px;
  height: auto;
  margin-bottom: 0px;
  margin-top: 0px;
}

.bt_expandir {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.rodar {
  transform:rotate(-90deg);
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -o-transform:rotate(-90deg);
}

.mostrar {
  height: auto;
  display: none;
  padding: 0px;
}

.naoSelecionavel {
    -webkit-touch-callout: none;  /* iPhone OS, Safari */
    -webkit-user-select: none;    /* Chrome, Safari 3 */
    -khtml-user-select: none;     /* Safari 2 */
    -moz-user-select: none;       /* Firefox */
    -ms-user-select: none;        /* IE10+ */
    user-select: none;            /* Possível implementação no futuro */
    /* cursor: default; */
}

.idTarefa {
  height: 20px;
  margin-bottom: 4px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

span {
  font-size: 16px;
}

.tamanhoTarefa{
  margin: auto!important;
}

.situacao_data {
  height: 20px;
  margin-bottom: 4px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.limite-select {
  overflow:hidden;
  max-height:120px !important;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.descricaoTarefa {
  font-size: 18px!important;
  border-radius: 3px;
  display:block;
  width:100%;
  text-overflow:ellipsis;
  ;overflow:hidden;
  max-height:120px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  padding: 5px;
  padding-top: 0px; padding-bottom: 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.statusTarefa {
  border-radius: 3px;
  display:block;
  width:100%;
  text-overflow:ellipsis;
  overflow:hidden;
  max-height:120px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  padding: 5px;
  padding-top: 0px; padding-bottom: 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.row {
  margin: 0px;
  padding: 0px;
}

.card-footer {
  padding: 5px;
  padding-top: 0px !important;
  border-style: none;
}

.pendente {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-color: orange !important;
  border-style: solid;
  border-width: medium !important;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  margin: 0 20px 0 auto;
}

.p-icone {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border-style: solid;
  border-color: grey;
  border-width: thin;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.i-icone {
  width: 55px;
  height: 55px;
  border-radius: 100%;
  border-style: solid;
  border-color: grey;
  border-width: thin;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.id_responsavel {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-color: rgb(38, 255, 31) !important;
  border-style: solid;
  border-width: medium !important;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  margin-top: 10px;
}

.autoridade {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 4px;
  border-color: blue !important;
  border-style: solid;
  border-width: medium !important;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.responsavel {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    border-color: green !important;
    border-style: solid;
    border-width: medium !important;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.executor {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.maisExecutores {
  padding: 10px;
}

.data_inicio {
  border-radius: 5px;
  font-size: 18px!important;
  background-color: #cecece;
  padding-left: 2.5px;
  padding-right: 2.5px;
  padding-bottom: 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.data_limite {
  border-radius: 5px;
  font-size: 18px!important;
  background-color: #cecece;
  padding-left: 2.5px;
  padding-right: 2.5px;
  padding-bottom: 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

form > div:nth-child(1) > div:nth-child(4){
    display: flex;
}

form > div:nth-child(1) > div:nth-child(4) > input{
    text-align: center;
}
form > div:nth-child(2) > div:nth-child(4){
    display: flex;
    text-align: center;
}
form > div:nth-child(2) > div:nth-child(4) > input{
    text-align: center;
}
form > div:nth-child(3) > div:nth-child(4){
    display: flex;
    text-align: center;
}
form > div:nth-child(3) > div:nth-child(4) > input{
    text-align: center;
}

form > div:nth-child(4) > div:nth-child(4){
  display: flex;
  text-align: center;
}
form > div:nth-child(4) > div:nth-child(4) > input{
  text-align: center;
}

form > div:nth-child(5) > div:nth-child(4){
  display: flex;
  text-align: center;
}
form > div:nth-child(5) > div:nth-child(4) > input{
  text-align: center;
}

form > div:nth-child(6) > div:nth-child(4){
  display: flex;
  text-align: center;
}
form > div:nth-child(6) > div:nth-child(4) > input{
  text-align: center;
}

.infoProblemas{
  margin: auto 0;
}

#exportar {
	margin-left: 17px;
}

/*QUADRO KANBAN*/


/* MODAL */
form > h2{
    display: block;
    position: relative;
    left: 0;

}
/* MODAL */


/* CSS DOS FILTROS */


@media (min-width: 1551px) and (max-width: 1921px) {
  #fluxo{
  overflow-x: auto;
  overflow-y: hidden;
  margin-right: 10px;
  }

  #fluxos{
      height: 91vh!important;
  }

  .show-bar{
      width: 86vw!important;
  }

  .hide-bar{
      width: 98vw!important;
  }

  .titulos .titulo-child{
    min-width: 27.7vw!important;
    width: 27.7vw!important;
  }

  .quadro .quadro-child{
    min-width: 27.7vw!important;
    width: 27.7vw!important;
  }

  .executorProblema{
    width: 22vw;
  }
}

@media (min-width: 1001px) and (max-width: 1550px) {
  #kanbam {
  height: 91vh;
  overflow-x: auto;
  overflow-y: hidden;
  }

  #fluxos > div.quadro > div:nth-child(1) {
    height: 80vh;
  }

  #fluxos > div.quadro > div:nth-child(2) {
    height: 80vh;
  }

  #fluxos > div.quadro > div:nth-child(3) {
    height: 80vh;
  }

  #fluxos > div.quadro > div:nth-child(4) {
    height: 80vh;
  }

  #fluxos > div.quadro > div:nth-child(5) {
    height: 80vh;
  }

  #fluxos > div.quadro > div:nth-child(6) {
    height: 80vh;
  }



  #fluxos{
      height: 86.5vh!important;
  }

  .show-bar{
      width: 79.75vw!important;
  }

  .hide-bar{
      width: 98vw!important;
  }

  .titulos .titulo-child{
    min-width: 25.2vw!important;
    width: 25.2vw!important;
  }

  .quadro .quadro-child{
    min-width: 25.2vw!important;
    width: 25.2vw!important;
  }

  #quadro span {
  font-size: 12px;
  }

  .p-icone {
  width: 45px;
  height: 45px;
  }

  .i-icone {
  width: 50px;
  height: 50px;
  }

  .data_inicio {
  font-size: 14px!important;
  }

  .data_limite {
  font-size: 14px!important;
  }

  .descricaoTarefa {
  font-size: 14px!important;
  }

  .statusTarefa {
  font-size: 14px!important;
  }

  .executorProblema{
    width: 18.5vw;
  }

}

@media (min-width: 401px) and (max-width: 1000px) {
#kanbam {
overflow-x: auto!important;
overflow-y: hidden;
margin-right: 10px;
}

#quadro span {
font-size: 10pt;
}

.p-icone {
width: 50px;
height: 50px;
}

.i-icone {
width: 55px;
height: 55px;
}

}

@media (min-width: 301px) and (max-width: 400px) {
#kanbam {
overflow-x: auto!important;
overflow-y: hidden;
margin-right: 10px;
}

#fluxos > div.quadro > div:nth-child(1) {
 height: 84vh!important;
}

#fluxos > div.quadro > div:nth-child(2) {
 height: 84vh!important;
}

#fluxos > div.quadro > div:nth-child(3) {
 height: 84vh!important;
}

.p {
padding-left: 10px;
padding-right: 5px;
}

#quadro span {
font-size: 10pt;
}

.p-icone {
width: 40px;
height: 40px;
}

.i-icone {
width: 45px;
height: 45px;
}

}

/*CSS para o loading*/
#fluxos {
opacity: 0;
transition: opacity 1.5s;
}

#fluxos.mostrar {
opacity: 1;
}

.load{
position: absolute;
left: 0px;
right: 0px;
bottom: 0px;
top: 0px;
background: #00000c69;
opacity: 1;
transition: opacity 1.5s;
}

.load > i {
position:absolute;
top:30%;
left:45%;
color: #959596;
}
