{% extends 'base.html' %} {% load static %} {% block title %} Fluxo {% endblock %} {% block head %}

<link id="bsdp-css" href="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/css/bootstrap-datepicker3.min.css" rel="stylesheet">

<!-- CSS da pagina desenvolvido por Alan Souza -->
<link href="{% static 'Solicitacao/css/fluxo.css' %}" rel="stylesheet">

<!-- Script para o funciomento dos DatePickers -->
<script src = "https://code.jquery.com/jquery-3.3.1.min.js" ></script>
<script src="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/js/bootstrap-datepicker.min.js"></script>

<!-- Script para reconher o PT-BR do DatePickers-->
<script src="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/locales/bootstrap-datepicker.pt-BR.min.js" charset="UTF-8"></script>

<!-- CSS do DatePickers -->
<link id="bsdp-css" href="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/css/bootstrap-datepicker3.min.css" rel="stylesheet">

<!-- favicon -->
<link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon"> 

<!-- Multi-Select -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />
<script>$("#collapseOne").toggleClass("show");</script>
{% endblock %}

{% block content %}

<div class="load" id="load">
  <i class="fa fa-cog fa-spin fa-10x fa-fw"></i><span class="sr-only">Loading...</span>
</div>

<header class="fluxo" id="fluxo">
  <nav id="fluxos">
      <div class="titulos">
        <div class="titulo-child analise">Análise</div>
        <div class="titulo-child agendamento">Agendamento</div>
        <div class="titulo-child atendimento">Atendimento</div>
        <div class="titulo-child quitacao">Termo de Quitação</div>
        <div class="titulo-child concluido">Concluído</div>
        <div class="titulo-child garantia">Fora de Garantia</div>
      </div>
      <span id="qtdProcessos" style="display: none;">{{qtdProcessos}}</span>
      <div class="quadro" id="quadro">
          <!--Quadro de tarefas em Análise-->
          <div class="quadro-child quadro1 1">
            <span id="problemasAnalise" title="{{problemasAnalise}}" style="display: none;">{{finalizadosAnalise}}</span>
            {% for solicitacao in analise %}
            <div id="{{ solicitacao.id_tarefa }}" class="card tarefa mt-3 mb-3 w-95 p">
              <div class="card-body">
                <div class="row justify-content-between">
                  <div class="col-xs align-self-start idTarefa p">
                      <span class="id" title="ID" aria-label="100%">{{ solicitacao.id_tarefa }}</span>
                  </div>
                  <div class="col-xs prioridadeTarefa p">
                      <span id="prioridade{{ solicitacao.id_tarefa }}" title="Prioridade" aria-label="100%">{{ solicitacao.prioridade }}</span>
                  </div>
                  <div id="statusSolicitacao" class="col-xs situacao_data p">
                    <div id="statusProcesso{{solicitacao.id_tarefa}}" style="display: none;">{{solicitacao.status_processo}}</div>
                    <div id="prazo{{solicitacao.id_tarefa}}" style="display: none;">{{solicitacao.prazo}}</div>
                    <div id="statusPrazo{{ solicitacao.id_tarefa }}" class="col-xs situacao_data p">
                      <span title="" aria-label="100%"></span>
                  </div>
                    <!-- Atraso/Adiantado -->
                  </div>
                  <div class="col-xs ccTarefa p">
                      <span title="Centro de Custo" aria-label="100%">{{ solicitacao.empreendimento }}</span>
                  </div>
                  <span title="Editar">
                      <div class="bt_editar col-xs align-self-end p">
                        <a href="#" class="card-link">
                          <img src="{% static 'Kanban/img/editar.png' %}" class="editar" onclick="editarTarefa( {{solicitacao.id_tarefa}} )"/>
                        </a>
                      </div>
                  </span>
                </div>
                <span title="Descrição" class="descricaoTarefa border">{{ solicitacao.descri }}</span>
                <span title="{{ solicitacao.porcentagem }}%" class="progress mt-1" style="height:6px;">
                  <div class="progress-bar{{ solicitacao.id_tarefa }}" role="progressbar" style="width: {{ solicitacao.porcentagem }}%;" aria-valuenow="{{ solicitacao.porcentagem }}" aria-valuemin="0" aria-valuemax="100"></div>
                </span>
              </div>
              <div class="card-footer bg-transparent">
                <div class="row justify-content-between">
                  <div class="col-xs">
                    <div class="row executorProblema">
                      <span style="display:none;" id="executores{{solicitacao.id_tarefa}}">{{solicitacao.executor1}},{{solicitacao.executor2}},{{solicitacao.executor3}},{{solicitacao.executor4}},{{solicitacao.executor5}},{{solicitacao.executor6}},{{solicitacao.executor7}},{{solicitacao.executor8}},{{solicitacao.executor9}},{{solicitacao.executor10}}</span>
                      <div class="row" id="imagensExecutores{{solicitacao.id_tarefa}}">
                      </div>
                      <span id="impedimento{{ solicitacao.id_tarefa }}" class="col-xs i-icone pendente" title="{{ solicitacao.pendente_por }}"><img id="imgImpedimento{{solicitacao.id_tarefa}}" class="rounded-circle" alt="Cinque Terre" style="width: 100%; height: 100%"></span>
                      <span class="infoProblemas" id="problemas{{solicitacao.id_tarefa}}" title="Problemas finalizados / Problemas cadastrados"></span>
                    </div>
                  </div>
                  <span class="bt_expandir col-xs align-self-end" title="Expandir"><a><img src="{% static 'Kanban/img/expandir.png' %}" class="expandir"/></a></span>
                </div>
                <div id="{{ solicitacao.id_tarefa }}_mostrar" class="container mostrar mt-2">
                  <span class="statusTarefa border" title="Pendente">{{ solicitacao.status_pendencia }}</span>
                  <div class="row justify-content-center mt-2">
                    <span class="col-xs data_inicio border mr-1" id="dataInicial{{ solicitacao.id_tarefa }}" title="Início Previsto">{{ solicitacao.data_ini }}</span>
                    <span class="col-xs data_limite border ml-1" id="dataFinal{{ solicitacao.id_tarefa }}" title="Finalização Real">{{ solicitacao.data_fim }}</span>
                  </div>
                  <div class="row justify-content-center mt-2">
                    <span title="Nome do Proprietário" aria-label="100%">{{ solicitacao.proprietario_nome }}</span>
                  </div>
                  <div class="row justify-content-center mt-2">
                    <span class="col-xs data_inicio border mr-1" id="dataEntrega{{ solicitacao.id_tarefa }}" title="Data da Entrega">{{ solicitacao.data_entrega }}</span>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>

           <!--Quadro de tarefas em Agendamento-->
           <div class="quadro-child quadro1 2">
            <span id="problemasAgendamento" title="{{problemasAgendamento}}" style="display: none;">{{finalizadosAgendamento}}</span>
            {% for solicitacao in agendamento %}
            <div id="{{ solicitacao.id_tarefa }}" class="card tarefa mt-3 mb-3 w-95 p">
              <div class="card-body">
                <div class="row justify-content-between">
                  <div class="col-xs align-self-start idTarefa p">
                      <span class="id" title="ID" aria-label="100%">{{ solicitacao.id_tarefa }}</span>
                  </div>
                  <div class="col-xs prioridadeTarefa p">
                      <span id="prioridade{{ solicitacao.id_tarefa }}" title="Prioridade" aria-label="100%">{{ solicitacao.prioridade }}</span>
                  </div>
                  <div id="statusSolicitacao" class="col-xs situacao_data p">
                    <div id="statusProcesso{{solicitacao.id_tarefa}}" style="display: none;">{{solicitacao.status_processo}}</div>
                    <div id="prazo{{solicitacao.id_tarefa}}" style="display: none;">{{solicitacao.prazo}}</div>
                    <div id="statusPrazo{{ solicitacao.id_tarefa }}" class="col-xs situacao_data p">
                      <span title="" aria-label="100%"></span>
                  </div>
                    <!-- Atraso/Adiantado -->
                  </div>
                  <div class="col-xs ccTarefa p">
                      <span title="Centro de Custo" aria-label="100%">{{ solicitacao.empreendimento }}</span>
                  </div>
                  <span title="Editar">
                      <div class="bt_editar col-xs align-self-end p">
                        <a href="#" class="card-link">
                          <img src="{% static 'Kanban/img/editar.png' %}" class="editar" onclick="editarTarefa( {{solicitacao.id_tarefa}} )"/>
                        </a>
                      </div>
                  </span>
                </div>
                <span title="Descrição" class="descricaoTarefa border">{{ solicitacao.descri }}</span>
                <span title="{{ solicitacao.porcentagem }}%" class="progress mt-1" style="height:6px;">
                  <div class="progress-bar{{ solicitacao.id_tarefa }}" role="progressbar" style="width: {{ solicitacao.porcentagem }}%;" aria-valuenow="{{ solicitacao.porcentagem }}" aria-valuemin="0" aria-valuemax="100"></div>
                </span>
              </div>
              <div class="card-footer bg-transparent">
                <div class="row justify-content-between">
                  <div class="col-xs">
                    <div class="row executorProblema">
                      <span style="display:none;" id="executores{{solicitacao.id_tarefa}}">{{solicitacao.executor1}},{{solicitacao.executor2}},{{solicitacao.executor3}},{{solicitacao.executor4}},{{solicitacao.executor5}},{{solicitacao.executor6}},{{solicitacao.executor7}},{{solicitacao.executor8}},{{solicitacao.executor9}},{{solicitacao.executor10}}</span>
                      <div class="row" id="imagensExecutores{{solicitacao.id_tarefa}}">
                      </div>
                      <span id="impedimento{{ solicitacao.id_tarefa }}" class="col-xs i-icone pendente" title="{{ solicitacao.pendente_por }}"><img id="imgImpedimento{{solicitacao.id_tarefa}}" class="rounded-circle" alt="Cinque Terre" style="width: 100%; height: 100%"></span>
                      <span class="infoProblemas" id="problemas{{solicitacao.id_tarefa}}" title="Problemas finalizados / Problemas cadastrados"></span>
                    </div>
                  </div>
                  <span class="bt_expandir col-xs align-self-end" title="Expandir"><a><img src="{% static 'Kanban/img/expandir.png' %}" class="expandir"/></a></span>
                </div>
                <div id="{{ solicitacao.id_tarefa }}_mostrar" class="container mostrar mt-2">
                  <span class="statusTarefa border" title="Pendente">{{ solicitacao.status_pendencia }}</span>
                  <div class="row justify-content-center mt-2">
                    <span class="col-xs data_inicio border mr-1" id="dataInicial{{ solicitacao.id_tarefa }}" title="Início Previsto">{{ solicitacao.data_ini }}</span>
                    <span class="col-xs data_limite border ml-1" id="dataFinal{{ solicitacao.id_tarefa }}" title="Finalização Real">{{ solicitacao.data_fim }}</span>
                  </div>
                  <div class="row justify-content-center mt-2">
                    <span title="Nome do Proprietário" aria-label="100%">{{ solicitacao.proprietario_nome }}</span>
                  </div>
                  <div class="row justify-content-center mt-2">
                    <span class="col-xs data_inicio border mr-1" id="dataEntrega{{ solicitacao.id_tarefa }}" title="Data da Entrega">{{ solicitacao.data_entrega }}</span>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>

           <!--Quadro de tarefas em Atendimento-->
           <div class="quadro-child quadro1 3">
            <span id="problemasAtendimento" title="{{problemasAtendimento}}" style="display: none;">{{finalizadosAtendimento}}</span>
            {% for solicitacao in atendimento %}
            <div id="{{ solicitacao.id_tarefa }}" class="card tarefa mt-3 mb-3 w-95 p">
              <div class="card-body">
                <div class="row justify-content-between">
                  <div class="col-xs align-self-start idTarefa p">
                      <span class="id" title="ID" aria-label="100%">{{ solicitacao.id_tarefa }}</span>
                  </div>
                  <div class="col-xs prioridadeTarefa p">
                      <span id="prioridade{{ solicitacao.id_tarefa }}" title="Prioridade" aria-label="100%">{{ solicitacao.prioridade }}</span>
                  </div>
                  <div id="statusSolicitacao" class="col-xs situacao_data p">
                    <div id="statusProcesso{{solicitacao.id_tarefa}}" style="display: none;">{{solicitacao.status_processo}}</div>
                    <div id="prazo{{solicitacao.id_tarefa}}" style="display: none;">{{solicitacao.prazo}}</div>
                    <div id="statusPrazo{{ solicitacao.id_tarefa }}" class="col-xs situacao_data p">
                      <span title="" aria-label="100%"></span>
                  </div>
                    <!-- Atraso/Adiantado -->
                  </div>
                  <div class="col-xs ccTarefa p">
                      <span title="Centro de Custo" aria-label="100%">{{ solicitacao.empreendimento }}</span>
                  </div>
                  <span title="Editar">
                      <div class="bt_editar col-xs align-self-end p">
                        <a href="#" class="card-link">
                          <img src="{% static 'Kanban/img/editar.png' %}" class="editar" onclick="editarTarefa( {{solicitacao.id_tarefa}} )"/>
                        </a>
                      </div>
                  </span>
                </div>
                <span title="Descrição" class="descricaoTarefa border">{{ solicitacao.descri }}</span>
                <span title="{{ solicitacao.porcentagem }}%" class="progress mt-1" style="height:6px;">
                  <div class="progress-bar{{ solicitacao.id_tarefa }}" role="progressbar" style="width: {{ solicitacao.porcentagem }}%;" aria-valuenow="{{ solicitacao.porcentagem }}" aria-valuemin="0" aria-valuemax="100"></div>
                </span>
              </div>
              <div class="card-footer bg-transparent">
                <div class="row justify-content-between">
                  <div class="col-xs">
                    <div class="row executorProblema">
                      <span style="display:none;" id="executores{{solicitacao.id_tarefa}}">{{solicitacao.executor1}},{{solicitacao.executor2}},{{solicitacao.executor3}},{{solicitacao.executor4}},{{solicitacao.executor5}},{{solicitacao.executor6}},{{solicitacao.executor7}},{{solicitacao.executor8}},{{solicitacao.executor9}},{{solicitacao.executor10}}</span>
                      <div class="row" id="imagensExecutores{{solicitacao.id_tarefa}}">
                      </div>
                      <span id="impedimento{{ solicitacao.id_tarefa }}" class="col-xs i-icone pendente" title="{{ solicitacao.pendente_por }}"><img id="imgImpedimento{{solicitacao.id_tarefa}}" class="rounded-circle" alt="Cinque Terre" style="width: 100%; height: 100%"></span>
                      <span class="infoProblemas" id="problemas{{solicitacao.id_tarefa}}" title="Problemas finalizados / Problemas cadastrados"></span>
                    </div>
                  </div>
                  <span class="bt_expandir col-xs align-self-end" title="Expandir"><a><img src="{% static 'Kanban/img/expandir.png' %}" class="expandir"/></a></span>
                </div>
                <div id="{{ solicitacao.id_tarefa }}_mostrar" class="container mostrar mt-2">
                  <span class="statusTarefa border" title="Pendente">{{ solicitacao.status_pendencia }}</span>
                  <div class="row justify-content-center mt-2">
                    <span class="col-xs data_inicio border mr-1" id="dataInicial{{ solicitacao.id_tarefa }}" title="Início Previsto">{{ solicitacao.data_ini }}</span>
                    <span class="col-xs data_limite border ml-1" id="dataFinal{{ solicitacao.id_tarefa }}" title="Finalização Real">{{ solicitacao.data_fim }}</span>
                  </div>
                  <div class="row justify-content-center mt-2">
                    <span title="Nome do Proprietário" aria-label="100%">{{ solicitacao.proprietario_nome }}</span>
                  </div>
                  <div class="row justify-content-center mt-2">
                    <span class="col-xs data_inicio border mr-1" id="dataEntrega{{ solicitacao.id_tarefa }}" title="Data da Entrega">{{ solicitacao.data_entrega }}</span>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>

           <!--Quadro de tarefas em Termo de Quitação-->
           <div class="quadro-child quadro1 4">
            <span id="problemasTermo" title="{{problemasTermo}}" style="display: none;">{{finalizadosTermo}}</span>
            {% for solicitacao in termoQuitacao %}
            <div id="{{ solicitacao.id_tarefa }}" class="card tarefa mt-3 mb-3 w-95 p">
              <div class="card-body">
                <div class="row justify-content-between">
                  <div class="col-xs align-self-start idTarefa p">
                      <span class="id" title="ID" aria-label="100%">{{ solicitacao.id_tarefa }}</span>
                  </div>
                  <div class="col-xs prioridadeTarefa p">
                      <span id="prioridade{{ solicitacao.id_tarefa }}" title="Prioridade" aria-label="100%">{{ solicitacao.prioridade }}</span>
                  </div>
                  <div id="statusSolicitacao" class="col-xs situacao_data p">
                    <div id="statusProcesso{{solicitacao.id_tarefa}}" style="display: none;">{{solicitacao.status_processo}}</div>
                    <div id="prazo{{solicitacao.id_tarefa}}" style="display: none;">{{solicitacao.prazo}}</div>
                    <div id="statusPrazo{{ solicitacao.id_tarefa }}" class="col-xs situacao_data p">
                      <span title="" aria-label="100%"></span>
                  </div>
                    <!-- Atraso/Adiantado -->
                  </div>
                  <div class="col-xs ccTarefa p">
                      <span title="Centro de Custo" aria-label="100%">{{ solicitacao.empreendimento }}</span>
                  </div>
                  <span title="Editar">
                      <div class="bt_editar col-xs align-self-end p">
                        <a href="#" class="card-link">
                          <img src="{% static 'Kanban/img/editar.png' %}" class="editar" onclick="editarTarefa( {{solicitacao.id_tarefa}} )"/>
                        </a>
                      </div>
                  </span>
                </div>
                <span title="Descrição" class="descricaoTarefa border">{{ solicitacao.descri }}</span>
                <span title="{{ solicitacao.porcentagem }}%" class="progress mt-1" style="height:6px;">
                  <div class="progress-bar{{ solicitacao.id_tarefa }}" role="progressbar" style="width: {{ solicitacao.porcentagem }}%;" aria-valuenow="{{ solicitacao.porcentagem }}" aria-valuemin="0" aria-valuemax="100"></div>
                </span>
              </div>
              <div class="card-footer bg-transparent">
                <div class="row justify-content-between">
                  <div class="col-xs">
                    <div class="row executorProblema">
                      <span style="display:none;" id="executores{{solicitacao.id_tarefa}}">{{solicitacao.executor1}},{{solicitacao.executor2}},{{solicitacao.executor3}},{{solicitacao.executor4}},{{solicitacao.executor5}},{{solicitacao.executor6}},{{solicitacao.executor7}},{{solicitacao.executor8}},{{solicitacao.executor9}},{{solicitacao.executor10}}</span>
                      <div class="row" id="imagensExecutores{{solicitacao.id_tarefa}}">
                      </div>
                      <span id="impedimento{{ solicitacao.id_tarefa }}" class="col-xs i-icone pendente" title="{{ solicitacao.pendente_por }}"><img id="imgImpedimento{{solicitacao.id_tarefa}}" class="rounded-circle" alt="Cinque Terre" style="width: 100%; height: 100%"></span>
                      <span class="infoProblemas" id="problemas{{solicitacao.id_tarefa}}" title="Problemas finalizados / Problemas cadastrados"></span>
                    </div>
                  </div>
                  <span class="bt_expandir col-xs align-self-end" title="Expandir"><a><img src="{% static 'Kanban/img/expandir.png' %}" class="expandir"/></a></span>
                </div>
                <div id="{{ solicitacao.id_tarefa }}_mostrar" class="container mostrar mt-2">
                  <span class="statusTarefa border" title="Pendente">{{ solicitacao.status_pendencia }}</span>
                  <div class="row justify-content-center mt-2">
                    <span class="col-xs data_inicio border mr-1" id="dataInicial{{ solicitacao.id_tarefa }}" title="Início Previsto">{{ solicitacao.data_ini }}</span>
                    <span class="col-xs data_limite border ml-1" id="dataFinal{{ solicitacao.id_tarefa }}" title="Finalização Real">{{ solicitacao.data_fim }}</span>
                  </div>
                  <div class="row justify-content-center mt-2">
                    <span title="Nome do Proprietário" aria-label="100%">{{ solicitacao.proprietario_nome }}</span>
                  </div>
                  <div class="row justify-content-center mt-2">
                    <span class="col-xs data_inicio border mr-1" id="dataEntrega{{ solicitacao.id_tarefa }}" title="Data da Entrega">{{ solicitacao.data_entrega }}</span>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>

           <!--Quadro de tarefas Concluídas-->
           <div class="quadro-child quadro1 5">
            <span id="problemasConcluido" title="{{problemasConcluido}}" style="display: none;">{{finalizadosConcluido}}</span>
            {% for solicitacao in concluido %}
            <div id="{{ solicitacao.id_tarefa }}" class="card tarefa mt-3 mb-3 w-95 p">
              <div class="card-body">
                <div class="row justify-content-between">
                  <div class="col-xs align-self-start idTarefa p">
                      <span class="id" title="ID" aria-label="100%">{{ solicitacao.id_tarefa }}</span>
                  </div>
                  <div class="col-xs prioridadeTarefa p">
                      <span id="prioridade{{ solicitacao.id_tarefa }}" title="Prioridade" aria-label="100%">{{ solicitacao.prioridade }}</span>
                  </div>
                  <div id="statusSolicitacao" class="col-xs situacao_data p">
                    <div id="statusProcesso{{solicitacao.id_tarefa}}" style="display: none;">{{solicitacao.status_processo}}</div>
                    <div id="prazo{{solicitacao.id_tarefa}}" style="display: none;">{{solicitacao.prazo}}</div>
                    <div id="statusPrazo{{ solicitacao.id_tarefa }}" class="col-xs situacao_data p">
                      <span title="" aria-label="100%"></span>
                  </div>
                    <!-- Atraso/Adiantado -->
                  </div>
                  <div class="col-xs ccTarefa p">
                      <span title="Centro de Custo" aria-label="100%">{{ solicitacao.empreendimento }}</span>
                  </div>
                  <span title="Editar">
                      <div class="bt_editar col-xs align-self-end p">
                        <a href="#" class="card-link">
                          <img src="{% static 'Kanban/img/editar.png' %}" class="editar" onclick="editarTarefa( {{solicitacao.id_tarefa}} )"/>
                        </a>
                      </div>
                  </span>
                </div>
                <span title="Descrição" class="descricaoTarefa border">{{ solicitacao.descri }}</span>
              </div>
              <div class="card-footer bg-transparent">
                <div class="row justify-content-between">
                  <div class="col-xs">
                    <div class="row executorProblema">
                      <span style="display:none;" id="executores{{solicitacao.id_tarefa}}">{{solicitacao.executor1}},{{solicitacao.executor2}},{{solicitacao.executor3}},{{solicitacao.executor4}},{{solicitacao.executor5}},{{solicitacao.executor6}},{{solicitacao.executor7}},{{solicitacao.executor8}},{{solicitacao.executor9}},{{solicitacao.executor10}}</span>
                      <div class="row" id="imagensExecutores{{solicitacao.id_tarefa}}">
                      </div>
                      <span class="infoProblemas" id="problemas{{solicitacao.id_tarefa}}" title="Problemas finalizados / Problemas cadastrados"></span>
                    </div>
                  </div>
                  <span id="impedimento{{ solicitacao.id_tarefa }}" class="col-xs i-icone pendente" title="{{ solicitacao.pendente_por }}"><img id="imgImpedimento{{solicitacao.id_tarefa}}" class="rounded-circle" alt="Cinque Terre" style="width: 100%; height: 100%"></span>
                  <span class="bt_expandir col-xs align-self-end" title="Expandir"><a><img src="{% static 'Kanban/img/expandir.png' %}" class="expandir"/></a></span>
                </div>
                <div id="{{ solicitacao.id_tarefa }}_mostrar" class="container mostrar mt-2">
                  <span class="statusTarefa border" title="Pendente">{{ solicitacao.status_pendencia }}</span>
                  <div class="row justify-content-center mt-2">
                    <span class="col-xs data_inicio border mr-1" id="dataInicial{{ solicitacao.id_tarefa }}" title="Início Previsto">{{ solicitacao.data_ini }}</span>
                    <span class="col-xs data_limite border ml-1" id="dataFinal{{ solicitacao.id_tarefa }}" title="Finalização Real">{{ solicitacao.data_fim }}</span>
                  </div>
                  <div class="row justify-content-center mt-2">
                    <span title="Nome do Proprietário" aria-label="100%">{{ solicitacao.proprietario_nome }}</span>
                  </div>
                  <div class="row justify-content-center mt-2">
                    <span class="col-xs data_inicio border mr-1" id="dataEntrega{{ solicitacao.id_tarefa }}" title="Data da Entrega">{{ solicitacao.data_entrega }}</span>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>

           <!--Quadro de tarefas Fora de Garantia-->
           <div class="quadro-child quadro1 6">
            <span id="problemasGarantia" title="{{problemasGarantia}}" style="display: none;">{{finalizadosGarantia}}</span>
            {% for solicitacao in foraGarantia %}
            <div id="{{ solicitacao.id_tarefa }}" class="card tarefa mt-3 mb-3 w-95 p">
              <div class="card-body">
                <div class="row justify-content-between">
                  <div class="col-xs align-self-start idTarefa p">
                      <span class="id" title="ID" aria-label="100%">{{ solicitacao.id_tarefa }}</span>
                  </div>
                  <div class="col-xs prioridadeTarefa p">
                      <span id="prioridade{{ solicitacao.id_tarefa }}" title="Prioridade" aria-label="100%">{{ solicitacao.prioridade }}</span>
                  </div>
                  <div id="statusSolicitacao" class="col-xs situacao_data p">
                    <div id="statusProcesso{{solicitacao.id_tarefa}}" style="display: none;">{{solicitacao.status_processo}}</div>
                    <div id="prazo{{solicitacao.id_tarefa}}" style="display: none;">{{solicitacao.prazo}}</div>
                    <div id="statusPrazo{{ solicitacao.id_tarefa }}" class="col-xs situacao_data p">
                      <span title="" aria-label="100%"></span>
                  </div>
                    <!-- Atraso/Adiantado -->
                  </div>
                  <div class="col-xs ccTarefa p">
                      <span title="Centro de Custo" aria-label="100%">{{ solicitacao.empreendimento }}</span>
                  </div>
                  <span title="Editar">
                      <div class="bt_editar col-xs align-self-end p">
                        <a href="#" class="card-link">
                          <img src="{% static 'Kanban/img/editar.png' %}" class="editar" onclick="editarTarefa( {{solicitacao.id_tarefa}} )"/>
                        </a>
                      </div>
                  </span>
                </div>
                <span title="Descrição" class="descricaoTarefa border">{{ solicitacao.descri }}</span>
              </div>
              <div class="card-footer bg-transparent">
                <div class="row justify-content-between">
                  <div class="col-xs">
                    <div class="row executorProblema">
                      <span style="display:none;" id="executores{{solicitacao.id_tarefa}}">{{solicitacao.executor1}},{{solicitacao.executor2}},{{solicitacao.executor3}},{{solicitacao.executor4}},{{solicitacao.executor5}},{{solicitacao.executor6}},{{solicitacao.executor7}},{{solicitacao.executor8}},{{solicitacao.executor9}},{{solicitacao.executor10}}</span>
                      <div class="row" id="imagensExecutores{{solicitacao.id_tarefa}}">
                      </div>
                      <span id="impedimento{{ solicitacao.id_tarefa }}" class="col-xs i-icone pendente" title="{{ solicitacao.pendente_por }}"><img id="imgImpedimento{{solicitacao.id_tarefa}}" class="rounded-circle" alt="Cinque Terre" style="width: 100%; height: 100%"></span>
                      <span class="infoProblemas" id="problemas{{solicitacao.id_tarefa}}" title="Problemas finalizados / Problemas cadastrados"></span>
                    </div>
                  </div>
                  <span class="bt_expandir col-xs align-self-end" title="Expandir"><a><img src="{% static 'Kanban/img/expandir.png' %}" class="expandir"/></a></span>
                </div>
                <div id="{{ solicitacao.id_tarefa }}_mostrar" class="container mostrar mt-2">
                  <span class="statusTarefa border" title="Pendente">{{ solicitacao.status_pendencia }}</span>
                  <div class="row justify-content-center mt-2">
                    <span class="col-xs data_inicio border mr-1" id="dataInicial{{ solicitacao.id_tarefa }}" title="Início Previsto">{{ solicitacao.data_ini }}</span>
                    <span class="col-xs data_limite border ml-1" id="dataFinal{{ solicitacao.id_tarefa }}" title="Finalização Real">{{ solicitacao.data_fim }}</span>
                  </div>
                  <div class="row justify-content-center mt-2">
                    <span title="Nome do Proprietário" aria-label="100%">{{ solicitacao.proprietario_nome }}</span>
                  </div>
                  <div class="row justify-content-center mt-2">
                    <span class="col-xs data_inicio border mr-1" id="dataEntrega{{ solicitacao.id_tarefa }}" title="Data da Entrega">{{ solicitacao.data_entrega }}</span>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
      </div>
  </nav>
</header>

<!--Modal Editar Tarefa-->
<div class="modal fade" id="ModalEditarTarefa" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-xl" role="document" id="modal">
      <div class="modal-content">

      </div>
  </div>
</div>
<!--FIM Modal Editar Tarefa-->

{% endblock %}

{% block navbar %}

<div class="card-header" id="headingOne">
  <button id="buttonCollapse" type="button" class="btn btn-info" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
    <i class="fa fa-filter"></i>
    <span id="botao-filtro">Filtros</span>
  </button>
</div>

<button id="exportar" type="button" class="btn btn-info" onclick="download()">
  <i class="fa fa-download"></i>
  <span >Exportar</span>
</button>

{% endblock %}

{% block expandirFiltros %}

<div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
  <div class="card-body">
     <form class="" action="/solicitacao/fluxo" id="form" method="GET">
      <!-- Datas -->
        <div class="row">
           <div class="col-8" id="datas-filtro">
              <div class="datas">
                 <label for="data">Periodo de pesquisa</label>
                 <div id="sandbox-container">
                    <div class="input-daterange input-group" id="datepicker">
                       <input id="inicio-filtro" value="{{filtros.start}}" type="text" class="input-sm form-control" name="start" autocomplete="off" />
                       <span class="input-group-addon">Até</span>
                       <input id="final-filtro" value="{{filtros.end}}" type="text" class="input-sm form-control" name="end" autocomplete="off" />
                    </div>
                 </div>
              </div>
           </div>
           <div id="botoes-filtro">
              <div class="col" id="aplicar-filtro">
                 <input id="buttonAplicarFiltros" class="btn btn-primary" type="submit" value="Aplicar filtros">
              </div>
              <div class="col" id="limpar-filtro">
                 <input id="buttonLimparFiltros"class="btn btn-primary clearAll" type="button" value="Limpar filtros">
              </div>
           </div>
        </div>
        <!-- Centro de Custo / Bloco / Unidade -->
        <div class="row">
           <div class="col" id="centrocusto-filtro">
              <div class="centrocusto-filtro">
                 <label for="centrocusto-filtro">Centros de Custo</label>
                 <select class="form-control" id="centrocusto" name="centrocusto">
                    <option>Centros de custo</option>
                    {% for centrocusto in centrocustos %}
                    {% if filtros.centrocusto == centrocusto.centrocusto %}
                    <option value="{{centrocusto.id_centro_custo}}" selected>{{ centrocusto.centrocusto }}</option>
                    {% else %}
                    <option value="{{centrocusto.id_centro_custo}}">{{ centrocusto.centrocusto }}</option>
                    {% endif %}
                    {% endfor %}
                 </select>
              </div>
           </div>
           <div class="col-4" id="bloco-filtro">
              <div class="bloco-filtro">
                 <label for="bloco-filtro">Bloco:</label>
                 <span id="listaBloco" hidden>{{listaBloco}}</span>
                 <span id="selecionadosBloco" hidden>{{filtros.bloco}}</span>
                 <select class="select2 form-control" id="bloco" name="bloco" multiple="">

                 </select>
              </div>
           </div>
           <div class="col-4" id="unidade-filtro">
              <div class="unidade-filtro">
                 <label for="unidade-filtro">Unidade:</label>
                 <span id="listaUnidade" hidden>{{listaUnidade}}</span>
                 <span id="selecionadosUnidade" hidden>{{filtros.unidade}}</span>
                 <select class="select2 form-control" id="unidade" name="unidade" multiple=""></select>
              </div>
           </div>
        </div>
        <!-- Proprietário / Contato / E-mail -->
        <div class="row">
           <div class="col-4" id="proprietario-filtro">
              <div class="proprietario-filtro">
                 <label for="proprietario-filtro">Proprietário:</label>
                 <span id="listaProprietarios" hidden>{{listaProprietario}}</span>
                 <span id="selecionadosProprietario" hidden>{{filtros.proprietario}}</span>
                 <select class="select2 form-control" id="proprietario" name="proprietario" multiple=""></select>
              </div>
           </div>
           <div class="col-4" id="contato-filtro">
              <div class="contato-filtro">
                 <label for="contato-filtro">Contato:</label>
                 <span id="listaContatos" hidden>{{listaContato}}</span>
                 <span id="selecionadosContato" hidden>{{filtros.contato}}</span>
                 <select class="select2 form-control" id="contato" name="contato" multiple=""></select>
              </div>
           </div>
           <div class="col-4" id="proprietario-filtro">
              <div class="proprietario-filtro">
                 <label for="proprietario-filtro">E-mail:</label>
                 <span id="listaEmails" hidden>{{listaEmail}}</span>
                 <span id="selecionadosEmail" hidden>{{filtros.email}}</span>
                 <select class="select2 form-control" id="email" name="email" multiple="">

                 </select>
              </div>
           </div>
        </div>
        <!-- Status Filtro / Reparo -->
        <div class="row">
           <div class="col-6" id="status-filtro">
              <div class="status-filtro">
                 <label for="status-filtro">Status da tarefa:</label>
                 <select class="select2 form-control" multiple="" id="status" name="status">
                    {% if 'A fazer' in filtros.status %}
                    <option value="A fazer" selected="selected">A fazer</option>
                    {% else %}
                    <option value="A fazer">A fazer</option>
                    {% endif %}
                    {% if 'Fazendo' in filtros.status %}
                    <option value="Fazendo" selected="selected">Fazendo</option>
                    {% else %}
                    <option value="Fazendo">Fazendo</option>
                    {% endif %}
                    {% if 'Feito' in filtros.status %}
                    <option value="Feito" selected="selected">Feito</option>
                    {% else %}
                    <option value="Feito">Feito</option>
                    {% endif %}
                    {% if 'Cancelado' in filtros.status %}
                    <option value="Cancelado" selected="selected">Cancelado</option>
                    {% else %}
                    <option value="Cancelado">Cancelado</option>
                    {% endif %}
                 </select>
              </div>
           </div>
           <div class="col-6" id="reparo-filtro">
            <div class="reparo-filtro">
               <label for="reparo-filtro">Tipo de reparo:</label>
               <select class="select2 form-control" multiple="" id="reparo" name="reparo">
                  {% if 'Especialista' in filtros.reparo %}
                  <option value="Especialista" selected="selected">Especialista</option>
                  {% else %}
                  <option value="Especialista">Especialista</option>
                  {% endif %}
                  {% if 'Esquadrias de Alumínio' in filtros.reparo %}
                  <option value="Esquadrias de Alumínio" selected="selected">Esquadrias de Alumínio</option>
                  {% else %}
                  <option value="Esquadrias de Alumínio">Esquadrias de Alumínio</option>
                  {% endif %}
                  {% if 'Esquadrias de Madeira' in filtros.reparo %}
                  <option value="Esquadrias de Madeira" selected="selected">Esquadrias de Madeira</option>
                  {% else %}
                  <option value="Esquadrias de Madeira">Esquadrias de Madeira</option>
                  {% endif %}
                  {% if 'Instalações Elétricas' in filtros.reparo %}
                  <option value="Instalações Elétricas" selected="selected">Instalações Elétricas</option>
                  {% else %}
                  <option value="Instalações Elétricas">Instalações Elétricas</option>
                  {% endif %}
                  {% if 'Instalações Hidráulicas' in filtros.reparo %}
                  <option value="Instalações Hidráulicas" selected="selected">Instalações Hidráulicas</option>
                  {% else %}
                  <option value="Instalações Hidráulicas">Instalações Hidráulicas</option>
                  {% endif %}
                  {% if 'Instalações Gás' in filtros.reparo %}
                  <option value="Instalações Gás" selected="selected">Instalações Gás</option>
                  {% else %}
                  <option value="Instalações Gás">Instalações Gás</option>
                  {% endif %}
                  {% if 'Limpeza' in filtros.reparo %}
                  <option value="Limpeza" selected="selected">Limpeza</option>
                  {% else %}
                  <option value="Limpeza">Limpeza</option>
                  {% endif %}
                  {% if 'Lógica e Telefonia' in filtros.reparo %}
                  <option value="Lógica e Telefonia" selected="selected">Lógica e Telefonia</option>
                  {% else %}
                  <option value="Lógica e Telefonia">Lógica e Telefonia</option>
                  {% endif %}
                  {% if 'Pintura' in filtros.reparo %}
                  <option value="Pintura" selected="selected">Pintura</option>
                  {% else %}
                  <option value="Pintura">Pintura</option>
                  {% endif %}
                  {% if 'Serviço Civil' in filtros.reparo %}
                  <option value="Serviço Civil" selected="selected">Serviço Civil</option>
                  {% else %}
                  <option value="Serviço Civil">Serviço Civil</option>
                  {% endif %}
               </select>
            </div>
           </div>
        </div>
        <!-- Pessoa / Executor / Impedimento -->
        <div class="row">
          <div class="col-4" id="pessoa-filtro">
            <div class="pessoa-filtro">
              <label for="pessoa-filtro">Pessoas:</label>
              <select class="select2 form-control" id="pessoa" name="pessoa" multiple="">
                {% for pessoa in pessoas %} 
                  {% if pessoa.nome in filtros.pessoa %}
                    <option selected>{{ pessoa.nome }}</option>
                  {% else %}
                    <option>{{ pessoa.nome }}</option>
                  {% endif %} 
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="col-4" id="executor-filtro">
            <div class="executor-filtro">
              <label for="executor-filtro">Executores:</label>
              <select class="select2 form-control" id="executor" name="executor" multiple="">
                <option>Executores</option>
                {% for pessoa in pessoas %}
                {% if pessoa.nome in filtros.executor %}
                <option selected>{{ pessoa.nome }}</option>
                {% else %}
                <option>{{ pessoa.nome }}</option>
                {% endif %} {% endfor %}
              </select>
            </div>
          </div>
          <div class="col-4" id="impedimento-filtro">
            <div class="impedimento-filtro">
              <label for="impedimento-filtro">Impedimentos:</label>
              <select class="select2 form-control" id="impedimento" name="impedimento" multiple="">
                <option>Impedimentos</option>
                {% for pessoa in pessoas %}
                {% if pessoa.nome in filtros.impedimento %}
                <option selected>{{ pessoa.nome }}</option>
                {% else %}
                <option>{{ pessoa.nome }}</option>
                {% endif %}{% endfor %}
              </select>
            </div>
          </div>
        </div>
    </form>
  </div>
</div>

{% endblock %}

{% block scripts %}
<!-- Script -->
<script src="{% static 'Solicitacao/js/fluxo.js' %}"></script>

<!--Ativando o multiselect-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>

<script>
  function editarTarefa(id_tarefa){
  url = "{% url 'Tarefa:URL_editarTarefa' %}"
  window.open(url+id_tarefa);
}
  $('#inicio-filtro').datepicker({
      todayBtn: "linked",
      language: "pt-BR",
      daysOfWeekHighlighted: "1,2,3,4,5",
      autoclose: true,
      todayHighlight: true
  });
  $('#final-filtro').datepicker({
      todayBtn: "linked",
      language: "pt-BR",
      daysOfWeekHighlighted: "1,2,3,4,5",
      autoclose: true,
      todayHighlight: true
  });
  $(".select2").select2();

  function download(){
    var form = document.getElementById("form");
    form.setAttribute('action', '/solicitacao/exportar/')

    form.submit();

    form.setAttribute('action', '/solicitacao/listar/')

  }
  
</script>
{% endblock %}
